{{ include('@INFS3202PracticalFour/Partial/header.html.twig') }}
{{ include('@INFS3202PracticalFour/Admin/Partial/navigation.html.twig') }}
<div style="margin-top: 50px;">
    <nav>
        <ul class="breadcrumbs">
            <li><a href="#">Admin</a></li>
            <li class="current"><a href="#">Deals</a></li>
        </ul>
    </nav>
    <table style="margin-top: 25px; margin-left: auto; margin-right: auto;">
        <thead>
        <tr>
            <th width="200">Proprietor</th>
            <th width="100">Location</th>
            <th>Category</th>
            <th>Deal</th>
            <th width="50">Price</th>
            <th width="250">Description</th>
            <th width="150">Image URL</th>
        </tr>
        </thead>
        <tbody>
        {% for deal in deals %}
            <tr>
                <td>{{ deal.proprietor.name }}</td>
                <td>{{ deal.proprietor.addresss }}</td>
                <td>{{ deal.category.name }}</td>
                <td>{{ deal.title }}</td>
                <td>{{ deal.price }}</td>
                <td>{{ deal.description }}</td>
                <td>{{ deal.banner }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{{ include('@INFS3202PracticalFour/Partial/scripts.html.twig') }}
{{ include('@INFS3202PracticalFour/Partial/footer.html.twig') }}