<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation 5</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfoundation/css/foundation.min.css') }}" />
    <style type="text/css">
        .top-bar input{
            height:auto;
            padding-top:.35rem;
            padding-bottom:.35rem;
        }
    </style>
</head>
<body>
<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">Dealio</a></h1>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li class="has-form">
                <div class="row collapse">
                    <div class="large-8 small-9 columns">
                        <input type="text" placeholder="Find Stuff">
                    </div>
                    <div class="large-4 small-3 columns">
                        <a href="#" class="alert button expand">Search</a>
                    </div>
                </div>
            </li>
            <li class="divider"></li>
            <li class="has-form">
                <a href="{{ path('infs3202_practicalfour_default_login') }}" class="button">Login</a>
            </li>
        </ul>
    </section>
</nav>

<ul>
    {% for deal in deals %}
        <li>{{ deal.title }}</li>
    {% endfor %}
</ul>

<script type="text/javascript" src="{{ asset('bundles/bmatznerfoundation/js/vendor/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/bmatznerfoundation/js/foundation.min.js') }}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>