
{{ include('@INFS3202PracticalFour/Partial/header.html.twig') }}
{{ include('@INFS3202PracticalFour/Default/Partial/navigation.html.twig') }}
<div style="margin-top: 50px;">
{% if excluded|length %}
    {% for criteria, value in excluded %}
<div data-alert class="alert-box warning">
    Ignoring {{ criteria }} = "{{ value }}," no matches found.
    <a href="#" class="close">&times;</a>
</div>
    {% endfor %}
{% endif %}

<table>
    <thead>
    <tr>
        <th width="200">Proprietor</th>
        <th width="100">Location</th>
        <th>Deal</th>
        <th width="50">Price</th>
        <th width="250">Description</th>
        <th width="150">Image URL</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    {% for deal in deals %}
        <td>Proprietor</td>
        <td>Location</td>
        <td>{{ deal.title }}</td>
        <td>{{ deal.price }}</td>
        <td>{{ deal.description }}</td>
        <td>{{ deal.banner }}</td>
    {% endfor %}
    </tr>
    </tbody>
</table>
</div>
{{ include('@INFS3202PracticalFour/Partial/scripts.html.twig') }}
<script type="text/javascript">
    $('#search-button').click(function(event){
        $('#search-form').submit();
    });
</script>
{% if not app.user %}
<script type="text/javascript">
    $( "#login-form" ).submit(function( event ) {

        // Stop form from submitting normally
        event.preventDefault();

        // Get some values from elements on the page:
        var $form = $( this );
        var url = $form.attr( "action" );

        // Send the data using post
        var posting = $.post( url, $form.serialize());
        $('#login-error-container').hide();

        // Put the results in a div
        posting.done(function( data ) {
            if(data.success){
                location.reload();
            }else{
                $('#login-error-message').text(data.message);
                $('#login-error-container').show();
            }
        });
    });

    $('#login-modal-close').click(function(event){
        $('#login-error-container').hide();
    });
</script>
{% endif %}
{{ include('@INFS3202PracticalFour/Partial/footer.html.twig') }}